<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head')%>
    <title>Blog</title>
    <style>
        pre {
  white-space: pre-wrap;  /* Wraps text while maintaining pre formatting */
  word-wrap: break-word;  /* Ensures long words break and do not overflow */
  overflow-x: hidden;  /* Completely removes horizontal scroll */
  max-width: 100%;  /* Ensures it doesn't exceed its container width */
}
    </style>
</head>
<body>
    <%- include('./partials/nav')%>
 
    <div class="container mt-4">
        <h1 ><%= blog.title %></h1>
        <img src="<%= blog.coverImageURL %>" width="450vh"/>
        <pre class="mt-3"><%= blog.body %></pre>
    </div>

    <div class="container mt-4">
        <img src="<%= blog.createdBy.profileImageURL %>" width="50px" />
        <%= blog.createdBy.fullName %>
        <h1>hello</h1>
    </div>

    <div class="container mt-3">
        <h1>Comments (<%= comments.length %>)</h1>
    
            <% if (locals.user) { %>
             
                <form action="/blog/comment/<%= blog._id %>" method="post">
           
                    <div class="mb-3">
                        <input  
                        type="type"
                         name="content"
                         class="form-control" 
                          placeholder="Enter your comment"  />
                          <button class="btn btn-sm btn-primary" type="submit">Add</button>
                     </div> 
                </form>

               

            <% } %>

            <div class="mt-3">
                <% comments.forEach(comment => { %>
                    <div>
                        <img src="<%= comment.createdBy.profileImageURL %>" width="50px" />
                        <%= comment.createdBy.fullName %>
                        <pre><%= comment.comment  %></pre>
                    </div>
                 
                <% }) %>
            </div>


    </div>


    <%- include('./partials/scripts')%>
</body>
</html>